<div id='search-form' class='input-group center-div'>
  <%= form_tag('#', remote: true, id: 'search-form') do %>
  <%= text_field_tag(:q, nil, placeholder: '', onfocus: 'onSelect();', onblur: 'onBlur();', class: 'form-control', placeholder: 'I want to...', required: '1') %>
  <span class='input-group-btn'>
  <%= button_tag(' ', class: 'search-button', id: 'search_button', onclick: 'submitQuery();') %>
  <!--<%= submit_tag '', class: 'search_button', id: 'search_button' %>-->
  </span>
  <% end %>
</div>