<script type="text/javascript">
function onSelect () {
  var submit_button = document.getElementById("search_button");
  submit_button.style.backgroundColor = "#99CCFF";
}


$(document).ready(function () {
$("#search-button").click(function () {
   $("#everything").animate({
      'marginLeft' : "+=300px"
   });
});
});
function onBlur() {
   var submit_button = document.getElementById("search_button");
   submit_button.style.backgroundColor = "#EEEEEE";
}

function submitQuery() {
  var query = document.getElementById("q");
  if (query.value) {
    $("#everything").animate({
      'top' : '-180px'
    });
    $("#search-results").fadeIn(300);
    var results = document.getElementById("search-results");
    results.style.display = 'block';
  }
}

function showDescription(e) {
  var form = document.getElementById(e);
  if (form.style.display != "initial") {
    form.style.display = "initial";
  } else {
    form.style.display = "none";
  }
}

</script>

<div id='everything' class='center-div'>

  <h1>Shiina</h1>

  <%= render 'search_form' %>
  <br />



  <div id='results' class="blah">
  </div>
  <div id='test'>
    test4
  </div>
  <canvas id="chart" width="400" height="400"></canvas>
</div>
