<div class='center-div col-md-6 col-md-offset-3'>
<h1>Shiina</h1>
   <%= form_tag("/search", method: "post") do %>
   <!-- <%= label_tag(:q, "Keyword") %> -->
   <!-- <br /> -->
   <%= text_field_tag(:q, nil, placeholder: '') %>
   <%= submit_tag("Search", class: 'search-button') %>
   <% end %>
</div>