
<script type="text/javascript">
function onSelect () {
   var submit_button = document.getElementById("search_button");
   submit_button.style.backgroundColor = "#99CCFF";
   $('#search-results').html("PENIS");
   $('#search-results').animate({
    'marginLeft' : "+=30px"
   });

}
$(document).ready(function () {
$("#search-button").click(function () {
   $("#everything").animate({
      'marginLeft' : "+=300px"
   });
});
});
function onBlur() {
   var submit_button = document.getElementById("search_button");
   submit_button.style.backgroundColor = "#EEEEEE";
}
</script>

<div class='center-div col-md-6 col-md-offset-3'>
<h1>Shiina</h1>
<%= render 'search_form' %>
  <div id='search-results'>
    hi
  </div>
  <div id='please'>
    test
  </div>
  <div id='results'>
    test2
  </div>
  <div id='present'>
    test3
  </div>
</div>
