<div class='center-div col-md-6 col-md-offset-3'>
<h1>Shiina</h1>
<%= render 'search_form' %>
  <div id='search-results' class='hidden' >
    hi
  </div>
</div>

<script type="text/javascript">
function onSelect () {
   var submit_button = document.getElementById("search_button");
   submit_button.style.backgroundColor = "#99CCFF";
}

function onBlur() {
   var submit_button = document.getElementById("search_button");
   submit_button.style.backgroundColor = "#EEEEEE";
}
</script>