// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
   background-image: image-url("shiina.png");
   background-size: cover;
   color: white;
   padding-top: 17em;
   h1 {
      text-align: center;
      line-height: 1;
   }
}

.container {
   border:1px solid black;
}

.center-div {
  text-align: center;
  border:1px solid black;
}

/* textfield */
#q {
   text-align: center;
   width: 90%;
   background-color: #99CCFF;
   border: none;
}

.search-button {
   display: inline;
   border: none;
}