// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
   background-image: image-url("shiina.png");
   background-size: cover;
   color: white;
   padding-top: 17em;
   h1 {
      text-align: center;
      line-height: 1;
   }
}

.container {
   border:1px solid black;
}

.center-div {
  text-align: center;
  //border:1px solid black;
}

.search-div {
   text-align: center;

}

/* textfield */
#q {
   width: 90%;
   padding-left: 10px;
   background-color: white;
   height: 40px;
   color:gray;
   border: none;
   font-size: 1.4em;
   border-radius: 5px 0 0 5px;
}

.search-button {
   display: inline;
   background-color: #EEEEEE;
   position: relative;
   top: 10px;
   height: 40px;
   right: 4px;
   border-radius: 0 5px 5px 0;
   background-image: image-url("search_icon.png");
   background-size: cover;
   width: 40px;
   border: none;
}

.search-button:hover {
   display: inline;
   
   border: none;
}